@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  background-color: #000300;
} */

/* custom css class */

@layer components {
  .sidebar-container {
    @apply relative, flex items-center justify-center
     h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-green-500
     hover:bg-green-600 hover:text-white
     rounded-3xl hover:rounded-xl
  }
}